.match-container {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.match-player-list-container {
  width: 21.5rem;
  display: grid;
  grid-auto-flow: row dense;
  grid-auto-columns: 1fr;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 0px 0px;
  grid-template-areas:
    "lane_1 lane_6"
    "lane_2 lane_7"
    "lane_3 lane_8"
    "lane_4 lane_9"
    "lane_5 lane_10";
}

.lane_2 {
  grid-area: lane_2;
}

.lane_3 {
  grid-area: lane_3;
}

.lane_4 {
  grid-area: lane_4;
}

.lane_5 {
  grid-area: lane_5;
}

.lane_1 {
  grid-area: lane_1;
}

.lane_6 {
  grid-area: lane_6;
}

.lane_7 {
  grid-area: lane_7;
}

.lane_8 {
  grid-area: lane_8;
}

.lane_9 {
  grid-area: lane_9;
}

.lane_10 {
  grid-area: lane_10;
}

.player-list-player {
  font-size: .9rem;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.match-player-name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 85%;
}

.match-champ-portrait {
  width: 1.2rem;
}

.kda-container {
  width: max-content;
  display: flex;
  gap: .7rem;
}

.match-summoner-spells-runes {
  display: grid;
  grid-auto-flow: row dense;
  grid-auto-columns: 1fr;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 0px 0px;
  grid-template-areas:
    "summoner-1 primary-rune"
    "summoner-2 secondary-rune";
}

.match-kda-summoner-spell-1 {
  grid-area: summoner-1;
}

.match-kda-summoner-spell-2 {
  grid-area: summoner-2;
}

.match-kda-rune-primary {
  grid-area: primary-rune;
}

.match-kda-rune-secondary {
  grid-area: secondary-rune;
}

.match-kda-summoner-spell-1,
.match-kda-summoner-spell-2 {
  width: 2rem;
}

.match-kda-rune-primary,
.match-kda-rune-secondary {
  width: 2rem;
}

.match-kda-champ-portrait {
  border-radius: 50%;
  width: 4rem;
}
